# maven ignore
src/main/resources.dev/qconfig.profile
target/

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
.idea/*
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
*~

# system ignore
.DS_Store
Thumbs.db
*~

# package ignore (optional)
# *.jar
# *.war
# *.zip
# *.tar
# *.tar.gz
.dev
__ConfigTemp/
/target/
/.metadata
/bin/
#idea
.idea/
*.ipr
*.iml
*.iws

